{% extends "sakila/base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Users <small>Some examples to get you started</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    <!--
    모달
    -->
    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
          </div>
          <div class="modal-body">

            <div id="testmodal2" style="padding: 5px 20px;">
              <form id="antoform2" class="form-horizontal calender" role="form">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="title2" name="title2">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modals -->
    <!-- Large modal -->
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_modal" onclick="onclick_create_modal()">Create modal</button>

    <div id="create_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    {% comment %} <div id="create_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true"> {% endcomment %}
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <form id="create_modal_form">
{#        <form action="/your-name/" method="post">#}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-header" id="errors"></div>
          <div class="modal-body">
              <table class="table">
              </table>
{#            <h4>Text in a modal</h4>#}
{#            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>#}
{#            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>#}
          </div>
          <div class="modal-footer">
              <!--
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
            -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
        </div>
     </div>
    </div>

    <!-- Large modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-header" id="errors"></div>
          <div class="modal-body">
              <table class="table">
                  <tr>
                      <td>special features</td>
                      <td><input class="form-control" id="modal_special_features" rows="10"></input> </td>
                  </tr>
                  <tr>
                      <td>내용</td>
                      <td><textarea class="form-control" id="modal_description" rows="10"></textarea> </td>
                  </tr>
              </table>
{#            <h4>Text in a modal</h4>#}
{#            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>#}
{#            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>#}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Small modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
          </div>
          <div class="modal-body">
            <h4>Text in a modal</h4>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>

        </div>
      </div>
    </div>
    <!-- /modals -->

    <!-- 삭제 -->
    <button type="button" id="datatable_select_rows" class="btn btn-primary">선택된 행</button>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Default Example <small>Users</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">
                DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
              </p>
              <table id="datatable" class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th>
                      <input type="checkbox" id="check-all" class="flat">
                    </th>
{#                    <th>No</th>#}
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </thead>


                <tbody>
                {% if list %}
                    {% for row in list %}
                        <tr>
                           <td class="a-center ">
                             <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <input type="hidden" name="film_id" value="{{ row.id }}">
{#                            <td>{{ row.row_number }}</td>#}
{#                            <td>{{ forloop.counter }}</td>#}
                            <td>{{ row.name }}</td>
                            <td>{{ row.address }}</td>
                            <td>{{ row.zip_code }}</td>
                            <td>{{ row.city }}</td>
                            <td>{{ row.notes}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <p>No polls are available.</p>
                {% endif %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- s: me -->
    <script>
         // using jQuery
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $(document).ready(function() {
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });
          });
    </script>

    {% csrf_token %}
    <script language="javascript">
        $(document).ready(function () {
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            {#alert('a');#}
            {#alert($('#datatable > tbody > tr').length);#}
            $local_modal = "body > div.container.body > div > div.right_col > div > div.modal.fade.bs-example-modal-lg";

            $('#datatable > tbody > tr').click(function () {
                var text = $(this).find('td').eq(0).text() + ' : ' + $(this).find('td').eq(2).text();
                {#alert(text);#}
                {#$local_modal = "body > div.container.body > div > div.right_col > div > div.modal.fade.bs-example-modal-lg";#}
                $($local_modal).find('#myModalLabel').text($(this).find('td').eq(0).text());
                {#$($local_modal).find('div > div > div.modal-body > h4').text($(this).find('td').eq(1).text());#}
                {#$($local_modal).find('div > div > div.modal-body > p:nth-child(2)').text($(this).find('td').eq(2).text());#}
                $("#modal_special_features").val($(this).find('td').eq(1).text());
                $("#modal_description").text($(this).find('td').eq(2).text());
                $($local_modal).modal();

            });

            // Modal의 Submit 버튼 클릭
            var modal_submit = 'body > div.container.body > div > div.right_col > div > div.modal.fade.bs-example-modal-lg > div > div > div.modal-footer > button.btn.btn-primary';
            $(modal_submit).click(function(){

                var data = {
                    'customer_id': $('#datatable > tbody > tr:nth-child(1) > input[type=hidden]').val(),
                    'first_name': $("#modal_special_features").val(),
                    'last_name': $("#modal_description").val()
                };
                url = '/sakila/customerAjax';
                {#url = '/sakila/film/modify';#}
                type = 'post';
                {#type = 'put';#}
                $.ajax({
                    url: url,
                    dataType:'json',
                    type: type,
                    data: data,
                    success: function(data){
                        {#$($local_modal).modal('toggle');#}
                    },
                    complete: function(data){
                        {#location.reload();#}
                        console.log('data : ', data);
                        data_results = data.responseJSON
                        console.log('data.msg : ', data.msg);
                        console.log('JSON.stringify(data)) : ', JSON.stringify(data));
                        {#data_results = JSON.parse(data)#}
                        if(data_results.errors.length > 0){
                            $('#errors').html(data_results.errors);
                        }
                    }
                });
            });


            $('#create_modal').on('show.bs.modal', function(){
                console.log('show.bs.modal');
            });

            this.onclick_create_modal = function(){
                console.log('onclick_create_modal');
                $('#errors').html('');
                 var data = {
                };
                url = '/sakila/customerAjaxCreate';
                type = 'get';
                $.ajax({
                    url: url,
                    dataType:'json',
                    type: type,
                    data: data,
                    success: function(data){
                        //$($local_modal).modal('toggle');
                    },
                    complete: function(data){
                        //location.reload();
                        console.log('data : ', data);
                        data_results = data.responseJSON
                        console.log('data.msg : ', data.msg);
                        console.log('JSON.stringify(data)) : ', JSON.stringify(data));
                        //data_results = JSON.parse(data);
                        if(data_results.form_as_table.length > 0){
                            $('#create_modal_form > div.modal-body > table').html(data_results.form_as_table);
                        }
                    }
                });
            };

            //#create_modal_form
            //등록
            var modal_submit = '#create_modal_form > div.modal-footer > button.btn.btn-primary';
            $(modal_submit).click(function(){

                var data = $("#create_modal_form").serialize();
                url = '/sakila/customerAjaxCreate';
                {#url = '/sakila/film/modify';#}
                type = 'post';
                {#type = 'put';#}
                $.ajax({
                    url: url,
                    dataType:'json',
                    type: type,
                    data: data,
                    success: function(data){
                        {#$($local_modal).modal('toggle');#}
                    },
                    complete: function(data){
                        {#location.reload();#}
                        console.log('data : ', data);
                        data_results = data.responseJSON
                        console.log('data.msg : ', data.msg);
                        console.log('JSON.stringify(data)) : ', JSON.stringify(data));
                        {#data_results = JSON.parse(data)#}
                        if(data_results.errors.length > 0){
                            $('#errors').html(data_results.errors);
                        }
                    }
                });
            });


            var table = $('#datatable').DataTable();
            /*
            $('#example tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );
            */

            $('#datatable_select_rows').click( function () {
                alert( table.rows('.selected').data().length +' row(s) selected' );
            } );
        });

     </script>
<!-- e: me -->
{% endblock javascripts %}
